fastapi
uvicorn
gunicorn 
fastapi-users 
httpx-oauth 
fastapi-users-db-sqlalchemy 
pydantic 
pydantic-settings 
yarl 
ujson 
SQLAlchemy 
alembic 
aiosqlite 
redis 
httptools 
prometheus-client 
prometheus-fastapi-instrumentator 
opentelemetry-api 
opentelemetry-sdk 
opentelemetry-exporter-otlp 
opentelemetry-instrumentation 
opentelemetry-instrumentation-fastapi 
opentelemetry-instrumentation-redis 
opentelemetry-instrumentation-sqlalchemy 
loguru 
aiokafka 
taskiq
taskiq-fastapi
taskiq-redis
pyzmq
asyncio
shapely
geopandas
matplotlib
orjson
pytest 
isort 
pre-commit 
wemake-python-styleguide 
autoflake 
pytest-cov 
anyio 
pytest-env 
fakeredis 
httpx
pytest-sugar==1.0.0
